* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  display: flex;
  margin: 0;
  min-height: 100vh;
}

#__next {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

main {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
}

/* HYPERLINK */

a {
  color: inherit;
  text-decoration: none;
}

/* BUTTON */

button,
a.header-link {
  margin: 0;
  padding: 0;
  background: unset;
  border: unset;
  height: fit-content;
  text-decoration: underline;
  cursor: pointer;
}

button:focus {
  outline: unset;
}

/* APPLICATION MAIN CONTENT */

div#main-content {
  flex-grow: 1;
  width: 100%;
  max-width: 1090px;
  position: relative;
}

/* APPLICATION BUTTONS */

button#try-again {
  font-size: 16px;
}

button#refresh {
  text-align: center;
  width: 60px;
}

button#filters {
  width: 75px;
}

/* APPLICATION HEADER TITLE */

header#table-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 30px;
  margin-right: 30px;
  flex-wrap: wrap;
}

header h1 {
  margin-right: 30px;
}

/* APPLICATION HEADER OPTIONS SECTION */

div#options-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

span.pipe-divider {
  margin: 0 15px;
  background-color: #000;
  height: 15px;
  width: 1px;
}

a.header-link {
  font-size: 13.33px;
}

/* APPLICATION FILTER SECTION */

div#filters-container {
  display: flex;
  position: absolute;
  background-color: #eee;
  width: 100%;
  padding: 20px;
  flex-direction: column;
  /*box-shadow: 5px 10px;*/
  border: solid 3px;
  z-index: 1;
}

h2#filters-title {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 5px;
}

div.filters-section {
  display: flex;
  flex-direction: column;
}

div.filters-section:not(:first-child) {
  margin-top: 10px;
}

span.filters-label {
  text-transform: lowercase;
  font-weight: 600;
}

button#close {
  text-align: left;
  margin-top: 20px;
}

div.filters-section,
button#close {
  padding-left: 10px;
}

/* APPLICATION FILTER SECTION LIST */

ul.filters-list {
  padding: 0;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin-top: 7px;
  margin-bottom: 0;
}

ul.filters-list li.filters-list-item:not(:last-child) {
  margin-right: 15px;
}

li.filters-list-item button {
  font-size: 14px;
  text-decoration: none;
  height: 25px;
}

li.filters-list-item button:before {
  content: "\25EF";
  margin-right: 7px;
  padding-top: 2px;
  font-size: 10px;
}

li.filters-list-item button.checked:before {
  content: "\25C9";
  margin-right: 7px;
  padding-top: 2px;
  font-size: 10px;
}

/* APPLICATION TABLE */

table {
  width: 100%;
  border-spacing: 0;
}

table svg {
  cursor: pointer;
}

tr.row-main {
  cursor: pointer;
}

tr th.img {
  width: 50px;
}

th,
td {
  padding: 8px 16px;
}

th {
  text-align: left;
  border-bottom: solid 2px #000;
  width: 200px;
  cursor: pointer;
}

th.sorted {
  text-decoration: underline;
}

th.sorted.false:before {
  content: "\2193";
}

th.sorted.true:before {
  content: "\2191";
}

td {
  border-bottom: solid 1px #000;
}

td.loss {
  color: #f44336;
}

td.gain {
  color: #4caf50;
}

td.loss:before {
  content: "- ";
}

td.gain:before {
  content: "+ ";
}

tbody tr:hover {
  background-color: #eee;
}

/* TABLE ROW POSTS LIST */

ul.posts li:not(:first-child) {
  margin-top: 20px;
}

li.post span {
  display: block;
  font-size: 12px;
  margin-top: 3px;
}

li.post a {
  text-decoration: underline;
  /*line-height: 20px;*/
}

/* TABLE FOOTER */

footer {
  margin-top: 20px;
}

footer ul {
  padding: 0 20px;
}

footer li {
  font-size: 12px;
  margin-bottom: 5px;
  line-height: 20px;
}

footer a {
  text-decoration: underline;
}

/* TWENTIMENT LINK */

a#twentiment {
  text-decoration: underline;
}
